$bg-body: #ebebeb;

$white: #fff;
$black: #000;

$md-black: #152028;
$md-white: #eaeaea;

$dark: #293462;
$primary: #F24C4C;
$secondary: #EC9B3B;
$warning: #F7D716;

$green: #54B435;
$green2: #379237;