@import "./variables";

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: calc(100% - 1.5rem);
  padding-left: .75rem;
  padding-right: .75rem;
}

/* .container {
  width: 100%;

  @media(min-width:576px) {
    width: 540px;
  }

  @media(min-width:768px) {
    width: 720px;
  }

  @media(min-width:992px) {
    width: 960px;
  }

  @media(min-width:1200px) {
    width: 1140px;
  }

  @media(min-width:1400px) {
    width: 1320px;
  }


} */

a {
  /*   font-weight: 500;
  color: #646cff; */
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: $bg-body;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  transition: width 2s, height 2s, background-color .5s, transform 2s;
}

.app.dark-mode {
  background-color: rgba($md-black, .95);
  color: $md-white;
}

img {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}